body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.heading {
  margin-top: 5rem;
  font-size: 50px;
}

.section-title {
  font-size: 35px;
}

.score-section {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.form-section {
  margin-left: 35rem;
  margin-top: -6rem;
}

.form {
  margin-top: 0;
}

.refresh-button-container {
  margin-left: 20px;
  margin-right: 25rem;
  margin-bottom: -7rem;
}

.spacer {
  margin-top: 20px;
}

.refresh-button,
.submit-button {
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.refresh-button {
  margin-left: 7rem;
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button {
  margin-left: 9rem;
  width: 100px;
}

.refresh-button:hover,
.submit-button:hover {
  background-color: #e0e0e0;
}

.form input {
  display: block;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.table {
  width: 50%;
  border-collapse: collapse;
  margin-top: -11rem;
  border: 2px solid black;
}

.table th,
.table td {
  padding: 10px;
  text-align: left;
}

/* .table th {
    background-color: #f0f0f0;
} */

.table tr:nth-child(odd) {
  background-color: white;
}

.table tr:nth-child(even) {
  background-color: lightgray;
}
